@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Inter&family=Poppins:wght@500&family=Roboto:ital,wght@0,400;1,100&family=Ubuntu:wght@300&family=VT323&display=swap");

:root {
  --background-color: rgb(34, 34, 34);
  --element-background-color: rgb(13, 13, 13);
}

* {
  color: white;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bebas Neue";
}

#content {
  width: 100vw;
  height: 100vh;
}

/* ---- for username input page ----- */
#content.userNamePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#usernameInputContainer > * {
  padding: 10px;
  font-size: 40px;
}

#usernameInputLabel {
  margin-left: 20px;
}

#usernameInput {
  outline: none;
  border-radius: 20px;
}

#usernameInput:focus {
  background-color: var(--element-background-color);
}

#usernameSubmitButton {
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40px;
  margin-left: 20px;
}

#usernameSubmitButton:hover {
  background-color: var(--element-background-color);
}

#warningMessage {
  text-align: center;
  margin-top: 30px;
}

/* ----- for board setup page ----- */
#content.setupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#shipSelectionContainer {
  margin-left: 21px;
}

.shipContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  margin-top: 20px;
}

.shipContainer:hover {
  border: 2px solid orange;
}

.shipIcon {
  max-height: 55px;
  min-height: 50px;
  width: 89px;
}

.shipName {
  font-size: 21px;
  text-align: center;
}

#directionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 21px;
}

#directionVerticalButton,
#directionHorizontalButton,
#setupSubmitButton {
  margin: 13px;
  font-size: 21px;
  padding: 13px;
}

#setupSubmitButton {
  margin-top: 21px;
}

#boardAndSelectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeShipButton {
  max-width: 21px;
}

.shipAndRemoveButtonContainer {
  display: flex;
  gap: 10px;
}

/* ----- board styling ----- */
.boardContainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid white;
  width: 55px;
  height: 55px;
}

/* ----- gameplay page ----- */
#boardsContainer {
  display: flex;
  gap: 55px;
}





